body {
    font-family: Arial, sans-serif;
}

.clock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.clock-item {
    text-align: center;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 24px;
    font-weight: bold;
}